div  {
    float: top;
    width: 50%;
    height: 20%;
    text-align: center;
    border: 1px solid black;
}
div > header {
    font-size: medium;
    font-style: initial;
    height: 15%;
    padding: 1%;
}
div > section {
    font-size: 15px;
    height: 70%;
    text-align: justify;
    padding: 1%;
}
div > footer {
    font-size: 10px;
    height: 15%;
    padding: 1%;
}

